@import "tailwindcss";

@theme {
  --font-sans: 'Space Grotesk', sans-serif;

  --color-ghost-white-50: #fcfbfc;
  --color-ghost-white-100: #f8f7f9;
  --color-ghost-white-200: #f5f3f6;
  --color-ghost-white-300: #f1eff3;
  --color-ghost-white-400: #eeebf1;
  --color-ghost-white-500: #ebe8ee;
  --color-ghost-white-600: #c4bbcc;
  --color-ghost-white-700: #9c8eab;
  --color-ghost-white-800: #756487;
  --color-ghost-white-900: #4e425a;
  --color-ghost-white-950: #27212d;

  --color-coffee-bean-50: #f3eef7;
  --color-coffee-bean-100: #b793cb;
  --color-coffee-bean-200: #925db1;
  --color-coffee-bean-300: #683e81;
  --color-coffee-bean-400: #3c244b;
  --color-coffee-bean-500: #110a15;
  --color-coffee-bean-600: #0e0811;
  --color-coffee-bean-700: #0b070e;
  --color-coffee-bean-800: #08050a;
  --color-coffee-bean-900: #060307;
  --color-coffee-bean-950: #030203;

  --color-bright-lavender-50: #f4ecf9;
  --color-bright-lavender-100: #e8d8f3;
  --color-bright-lavender-200: #ddc5ed;
  --color-bright-lavender-300: #d1b1e7;
  --color-bright-lavender-400: #c69ee0;
  --color-bright-lavender-500: #bb8cdb;
  --color-bright-lavender-600: #a05dcc;
  --color-bright-lavender-700: #8339b5;
  --color-bright-lavender-800: #632b88;
  --color-bright-lavender-900: #421d5a;
  --color-bright-lavender-950: #210e2d;

  --color-indigo-velvet-50: #e6cef7;
  --color-indigo-velvet-100: #cd9cee;
  --color-indigo-velvet-200: #b56be6;
  --color-indigo-velvet-300: #9c39dd;
  --color-indigo-velvet-400: #7e20bd;
  --color-indigo-velvet-500: #5d188b;
  --color-indigo-velvet-600: #4e1474;
  --color-indigo-velvet-700: #3e105d;
  --color-indigo-velvet-800: #2f0c46;
  --color-indigo-velvet-900: #1f082f;
  --color-indigo-velvet-950: #100417;

  --color-hyper-magenta-50: #f1defd;
  --color-hyper-magenta-100: #e2bdfc;
  --color-hyper-magenta-200: #d49cfa;
  --color-hyper-magenta-300: #c67bf8;
  --color-hyper-magenta-400: #b859f6;
  --color-hyper-magenta-500: #a938f4;
  --color-hyper-magenta-600: #940dee;
  --color-hyper-magenta-700: #760abf;
  --color-hyper-magenta-800: #59088f;
  --color-hyper-magenta-900: #3b055f;
  --color-hyper-magenta-950: #1e0330;

  --color-text: var(--color-ghost-white-500);
  --color-background: var(--color-coffee-bean-500);
  --color-background-secondary: color-mix(in srgb, var(--color-coffee-bean-400) 20%, transparent);
  --color-primary: var(--color-bright-lavender-500);
  --color-secondary: var(--color-indigo-velvet-500);
  --color-accent: var(--color-hyper-magenta-500);
}

@layer utilities {
  .glow-accent {
    filter: drop-shadow(0 0 8px color-mix(in srgb, var(--color-accent) 40%, transparent));
  }
}
